@font-face {
    font-family: "Muller-Trial-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Muller-Trial-Regular'),
        url(../fonts/MullerRegular.woff2) format("woff2"), url(../fonts/Muller-Trial-Regular.woff) format("woff")
}

@font-face {
    font-family: 'Muller-Trial-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Muller-Trial-Bold'),
        url(../fonts/Muller-Trial-Bold.woff2) format('woff2'), url(../fonts/Muller-Trial-Bold.woff) format('woff')
}

@font-face {
    font-family: 'Muller-Trial-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Muller-Trial-Medium'),
        url(../fonts/MullerMedium.woff2) format('woff2'), url(../fonts/Muller-Trial-Medium.woff) format('woff')
}