// color
$background-color-page: #F1F1F1;

$color-text-main: #000;
$color-text-alternate: #999;
$color-text-title: #333;

$color-link-default: #666;
$color-link-hover: #CC9933;
$color-link-focus: #CC9933;
$color-link-active: #A47312;

$color-button-default: #CC9933;
$color-button-hover: #FFF;
$background-color-button-hover: #CC9933;
$color-button-focus: #FFF;
$background-color-button-focus: #CC9933;
$color-button-active: #FFF;
$background-color-button-active: #A47312;

$color-star-active: #F0BF5F;
$color-star-offset: #E9E9E9;